# tfc-portal application configuration
play.crypto.secret = "Z2TAxoKapghea7]G0F4VJHdPG>NYwWdquAsoPJh`aB_11[kWFCQD4]yrrNMf@BBn"

# The application languages
play.i18n.langs = ["en", "cy"]

play.http.session.cookieName = "TaxFreeChildcare"

paraccuserid.sessionTimeout = 3600000
parappuserid.sessionTimeout = 3600000
ccpaccuserids.sessionTimeout = 3600000
ccpsignupuserid.sessionTimeout = 3600000

http {
  address = {{TFC.Portal.Bind.Address}}
  port = {{TFC.Portal.Bind.Port}}
}

TFCC{
  MicroServicesURL = {{TFC.Portal.MicroServices.URL}}
  IPWhiteList = {{TFC.Portal.IP.WhiteList}}
  NoLogin = {{TFC.Portal.NoLogin}}
  IgnoreSession = {{TFC.Portal.Ignore.Session}}
  RSAOn = {{TFC.Portal.RSA}}
}

play.modules {
  enabled += "play.filters.csrf.CSRFModule"
  enabled += "play.filters.cors.CORSModule"
  enabled += "play.filters.headers.SecurityHeadersModule"
  enabled += "play.filters.gzip.GzipFilterModule"
}