# tfc-portal application configuration for CIC Build
play.crypto.secret = "5s5P4S@Kz=Y9?sX8x[169TXG<Jp_ROsvIcdu1G3<eJ@;<FP?eqwSqPZ0lqz4RP5S"


# The application languages
play.i18n.langs = ["en", "cy"]

play.http.session.cookieName = "TaxFreeChildcare"

paraccuserid.sessionTimeout = 3600000
parappuserid.sessionTimeout = 3600000
ccpaccuserids.sessionTimeout = 3600000
ccpsignupuserid.sessionTimeout = 3600000


http {
  address = {{TFC.Portal.CIC.Bind.Address}}
  port = {{TFC.Portal.CIC.Bind.Port}}
}

TFCC{
  MicroServicesURL = {{TFC.Portal.CIC.MicroServices.URL}}
  UserServicesURL = "http://tfc-user-admin.atos.io:80"
  LinuxInstallLocation = "/appl/tfc/portal"
  RPM.packageName = "tfc-portal"
  IPWhiteList = {{TFC.Portal.CIC.IP.WhiteList}}
  NoLogin = {{TFC.Portal.CIC.NoLogin}}
  IgnoreSession = {{TFC.Portal.CIC.Ignore.Session}}
  RSAOn = {{TFC.Portal.CIC.RSA}}
}

play.modules {
  enabled += "play.filters.csrf.CSRFModule"
  enabled += "play.filters.cors.CORSModule"
  enabled += "play.filters.headers.SecurityHeadersModule"
  enabled += "play.filters.gzip.GzipFilterModule"
}
