archive.dir.name={{TFC.ccpimport.archive.dir.name}}
declined.file.ext={{TFC.ccpimport.declined.file.ext}}
declined.info.file.ext={{TFC.ccpimport.declined.info.file.ext}}
processed.file.ext={{TFC.ccpimport.processed.file.ext}}
rejected.file.ext={{TFC.ccpimport.rejected.file.ext}}
rejected.info.file.ext={{TFC.ccpimport.rejected.info.file.ext}}
filehandler.root.dir.name={{TFC.ccpimport.filehandler.root.dir.name}}
sftp.endpoint={{TFC.ccpimport.sftp.endpoint}}
thaler.applicationcode={{TFC.ccpimport.thaler.applicationcode}}
thaler.password={{TFC.ccpimport.thaler.password}}
thaler.referencecode={{TFC.ccpimport.thaler.referencecode}}
thaler.url={{TFC.ccpimport.thaler.url}}
thaler.user={{TFC.ccpimport.thaler.user}}
oracle.host={{TFC.ccpimport.oracle.host}}
oracle.sid={{TFC.ccpimport.oracle.sid}}
oracle.password={{TFC.ccpimport.oracle.password}}
oracle.user={{TFC.ccpimport.oracle.user}}
file.handler={{TFC.ccpimport.file.handler}}
test.mode={{TFC.ccpimport.test.mode}}
postcode.pattern=^((GIR)(0AA)|([A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]|[A-HK-Y][0-9]([0-9]|[ABEHMNPRV-Y]))|[0-9][A-HJKS-UW]))([0-9][ABD-HJLNP-UW-Z]{2})|(([A-Z]{1,4})(1ZZ))|((BFPO)([0-9]{1,4})))$
email.pattern=^(?=.{0,56}$).(\"([^\"r\\\\]|\\\\[\"r\\\\])*\"|([-a-zA-Z0-9!#$%&'*+/=?^_`{|}~]|(?<!\\.)\\.)*)(?<!\\.)@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,3})$
csv.split.pattern=,(?=([^\\"]*\\"[^\\"]*\\")*[^\\"]*$)
