archive.dir.name={{TFC.ccpimport.archive.dir.name}}
declined.file.ext={{TFC.ccpimport.declined.file.ext}}
declined.info.file.ext={{TFC.ccpimport.declined.info.file.ext}}
processed.file.ext={{TFC.ccpimport.processed.file.ext}}
rejected.file.ext={{TFC.ccpimport.rejected.file.ext}}
rejected.info.file.ext={{TFC.ccpimport.rejected.info.file.ext}}
filehandler.root.dir.name={{TFC.ccpimport.filehandler.root.dir.name}}
sftp.endpoint={{TFC.ccpimport.sftp.endpoint}}
thaler.applicationcode={{TFC.ccpimport.thaler.applicationcode}}
thaler.password={{TFC.ccpimport.thaler.password}}
thaler.referencecode={{TFC.ccpimport.thaler.referencecode}}
thaler.url={{TFC.ccpimport.thaler.url}}
thaler.user={{TFC.ccpimport.thaler.user}}
oracle.host={{TFC.ccpimport.oracle.host}}
oracle.sid={{TFC.ccpimport.oracle.sid}}
oracle.password={{TFC.ccpimport.oracle.password}}
oracle.user={{TFC.ccpimport.oracle.user}}
postcode.pattern={{TFC.ccpimport.postcode.pattern}}
email.pattern={{TFC.ccpimport.email.pattern}}
csv.split.pattern={{TFC.ccpimport.csv.split.pattern}}
