# ExternalServicesMock application configuration
thaler.user={{TFC.Thaler.User}}
thaler.password={{TFC.Thaler.Password}}
thaler.ip={{TFC.Thaler.IP}}
hmrc.ip={{TFC.HMRC.IP}}
postcodeanywhere.ip={{TFC.PCA.IP}}
rsa.ip={{TFC.RSA.IP}}
amq.ip={{TFC.AMQ.IP}}