attribute.parents = jboss-fuse-full default
feature.jndi = jndi
feature.jpa = jpa
feature.transaction = transaction
feature.hibernate = hibernate
feature.connector = connector
feature.camel-quartz = camel-quartz
feature.cxf-features-clustering = cxf-features-clustering
feature.spring-web = spring-web
feature.war = war

org.ops4j.pax.url.mvn.repositories = \
    file:${runtime.home}/${karaf.default.repository}@snapshots@id=karaf-default, \
    file:${runtime.data}/maven/upload@snapshots@id=fabric-upload, \
	{{TFC.nexus.url}}@id=atos, \
    http://repo1.maven.org/maven2@id=central, \
    https://repo.fusesource.com/nexus/content/groups/public@id=fusepublic, \
    https://repository.jboss.org/nexus/content/repositories/public@id=jbosspublic, \
    https://repo.fusesource.com/nexus/content/repositories/releases@id=jbossreleases, \
    https://repo.fusesource.com/nexus/content/groups/ea@id=jbossearlyaccess, \
    http://repository.springsource.com/maven/bundles/release@id=ebrreleases, \
    http://repository.springsource.com/maven/bundles/external@id=ebrexternal