attribute.parents = jboss-fuse-full default
feature.jndi = jndi
feature.jpa = jpa
feature.transaction = transaction
feature.hibernate = hibernate
feature.connector = connector
feature.camel-quartz = camel-quartz
feature.cxf-features-clustering = cxf-features-clustering
feature.spring-web = spring-web

org.ops4j.pax.url.mvn.repositories = {{TFC.nexus.url}}@id=atos