# Root logger
log4j.rootLogger INFO, out, osgi:*
log4j.throwableRenderer org.apache.log4j.OsgiThrowableRenderer

# CONSOLE appender not used by default
log4j.appender.stdout org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout org.apache.log4j.SanitizingPatternLayout
log4j.appender.stdout.layout.ConversionPattern %d{ISO8601} | %-5.5p | %-16.16t | %-32.32c{1} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n
log4j.appender.stdout.layout.replacement \\n  |
log4j.appender.stdout.layout.replaceRegex \n

# Fuse Log File appender
log4j.appender.out org.apache.log4j.RollingFileAppender
log4j.appender.out.append true
log4j.appender.out.file ${runtime.data}/log/fuse.log
log4j.appender.out.layout org.apache.log4j.SanitizingPatternLayout
log4j.appender.out.layout.ConversionPattern %d{ISO8601} | %-5.5p | %-16.16t | %-32.32c{1} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n
log4j.appender.out.layout.replacement \\n  |
log4j.appender.out.layout.replaceRegex \n
log4j.appender.out.maxBackupIndex 10
log4j.appender.out.maxFileSize 100MB

# Sift appender
log4j.appender.sift.appender org.apache.log4j.FileAppender
log4j.appender.sift.appender.append true
log4j.appender.sift.appender.file ${runtime.data}/log/$\{bundle.name\}.log
log4j.appender.sift.appender.layout org.apache.log4j.SanitizingPatternLayout
log4j.appender.sift.appender.layout.ConversionPattern %d{ISO8601} | %-5.5p | %-16.16t | %-32.32c{1} | %m%n
log4j.appender.sift.appender.layout.replacement \\n  |
log4j.appender.sift.appender.layout.replaceRegex \n
log4j.appender.sift.default karaf
log4j.appender.sift.key bundle.name
log4j.appender.sift org.apache.log4j.sift.MDCSiftingAppender

# Class specific log levels
log4j.logger.httpclient.wire WARN

log4j.logger.org.apache.commons.httpclient WARN

log4j.logger.org.apache.sshd.server.channel.ChannelSession INFO

log4j.logger.org.apache.zookeeper.client.ZooKeeperSaslClient WARN
log4j.logger.org.apache.zookeeper.ClientCnxn ERROR
log4j.logger.org.apache.zookeeper.ClientCnxn$SendThread ERROR
log4j.logger.org.apache.zookeeper.server.NIOServerCnxn ERROR
log4j.logger.org.apache.zookeeper.server.NIOServerCnxnFactory ERROR
log4j.logger.org.apache.zookeeper.server.PrepRequestProcessor WARN
log4j.logger.org.apache.zookeeper.server.ZooKeeperServer ERROR

