{
	"project": "Tax Free Childcare",
	"components": [{
		"repositoryName": "TFC-Parent",
		"groupId": "net.atos.tfc",
		"artifactId": "tfc-parent",
		"type": "maven"
	}, {
		"repositoryName": "TFC-Environments",
		"groupId": "net.atos.tfc.database",
		"artifactId": "db-scripts",
		"type": "maven"
	}, {
		"repositoryName": "TFC-Database",
		"groupId": "net.atos.tfc.environments",
		"artifactId": "EnvironmentConfig",
		"type": "maven"
	}, {
		"repositoryName": "TFC-Portal",
		"groupId": "net.atos.tfc",
		"artifactId": "tfc-portal",
		"type": "sbt"
	}, {
		"repositoryName": "TFC-CallCentre",
		"groupId": "net.atos.tfc",
		"artifactId": "tfc-cic",
		"type": "sbt"
	}, {
		"repositoryName": "TFC-MockService",
		"groupId": "net.atos.tfc",
		"artifactId": "tfc-mockservice",
		"type": "sbt"
	}, {
		"repositoryName": "TFC-SBTRelease",
		"groupId": "net.atos.tfc",
		"artifactId": "tfc-release",
		"type": "sbt"
	}, {
		"repositoryName": "TFC-ProxyServices",
		"groupId": "net.atos.tfc",
		"artifactId": "ProxyServices",
		"type": "maven"
	}, {
		"repositoryName": "TFC-ServiceIntegration",
		"groupId": "net.atos.tfc",
		"artifactId": "ServicesIntegration",
		"type": "maven"
	}, {
		"repositoryName": "TFC-ExternalServicesMock",
		"groupId": "net.atos.tfc",
		"artifactId": "ExternalServicesMock",
		"type": "maven"
	}, {
		"repositoryName": "TFC-CCPImport",
		"groupId": "net.atos.tfc",
		"artifactId": "ccpimport",
		"type": "maven"
	}, {
		"repositoryName": "TFC-FunctionalTesting",
		"groupId": "net.atos",
		"artifactId": "tfcc",
		"type": "maven"
	}]
}
