#DB Connection Details - Host and Driver Type
TFC.DB.DriverType={{TFC.DB.DriverType}}
TFC.DB.OracleHost={{TFC.DB.OracleHost}}

#DB Connection Details - TFCUSER
TFC.DB.OraclePassword={{TFC.DB.OraclePassword}}
TFC.DB.OracleUsername={{TFC.DB.OracleUsername}}
TFC.DB.Pool.AllConnectionsEquals={{TFC.DB.Pool.AllConnectionsEquals}}
TFC.DB.Pool.ConnectionMaxIdleMinutes={{TFC.DB.Pool.ConnectionMaxIdleMinutes}}
TFC.DB.Pool.MaxSize={{TFC.DB.Pool.MaxSize}}
TFC.DB.Pool.MinSize={{TFC.DB.Pool.MinSize}}
TFC.DB.Pool.PartitionStrategy={{TFC.DB.Pool.PartitionStrategy}}

#Properties
net.atos.tfc.services.common.exceptions.file={{TFC.net.atos.tfc.services.common.exceptions.file}}
postcodeanywhere.key={{TFC.postcodeanywhere.key}}
postcodeanywhere.url={{TFC.postcodeanywhere.url}}
psswrd.pattern={{TFC.psswrd.pattern}}
TFC.Services.DfeSchemeAvailable={{TFC.Services.DfeSchemeAvailable}}
TFC.Website.Session.Timeout={{TFC.Website.Session.Timeout}}

##Environment Specific

#AMQ
amq.brokerurl={{TFC.amq.brokerurl}}
amq.pword={{TFC.amq.pword}}
amq.username={{TFC.amq.username}}
audit.amq.audit-account-txn.error={{TFC.audit.amq.audit-account-txn.error}}
audit.amq.audit-account-txn={{TFC.audit.amq.audit-account-txn}}
audit.amq.audit-auth.error={{TFC.audit.amq.audit-auth.error}}
audit.amq.audit-auth={{TFC.audit.amq.audit-auth}}
audit.amq.audit-pag-nav.error={{TFC.audit.amq.audit-pag-nav.error}}
audit.amq.audit-pag-nav={{TFC.audit.amq.audit-pag-nav}}
audit.amq.audit-txn.error={{TFC.audit.amq.audit-txn.error}}
audit.amq.audit-txn={{TFC.audit.amq.audit-txn}}
audit.amq.brokerurl={{TFC.audit.amq.brokerurl}}
audit.amq.password={{TFC.audit.amq.password}}
audit.amq.username={{TFC.audit.amq.username}}
ccpactivation.amq.queuename={{TFC.ccpactivation.amq.queuename}}
ccpactivation.retry.delay={{TFC.ccpactivation.retry.delay}}
ccpactivation.retry.limit={{TFC.ccpactivation.retry.limit}}
ccpactivationdeclined.amq.queuename={{TFC.ccpactivationdeclined.amq.queuename}}
ccpactivationfailed.amq.queuename={{TFC.ccpactivationfailed.amq.queuename}}
feedback.incomingq.brokerurl={{TFC.feedback.incomingq.brokerurl}}
feedback.incomingq.password={{TFC.feedback.incomingq.password}}
feedback.incomingq.url={{TFC.feedback.incomingq.url}}
feedback.incomingq.username={{TFC.feedback.incomingq.username}}
hmrc.incomingq.brokerurl={{TFC.hmrc.incomingq.brokerurl}}
hmrc.incomingq.password={{TFC.hmrc.incomingq.password}}
hmrc.incomingq.username={{TFC.hmrc.incomingq.username}}
newprimarycontactactivation.amq.queuename={{TFC.newprimarycontactactivation.amq.queuename}}
newprimarycontactactivationfailed.amq.queuename={{TFC.newprimarycontactactivationfailed.amq.queuename}}
utrninocleanup.amq.queuename={{TFC.utrninocleanup.amq.queuename}}

#CSR LDAP Authentication
net.atos.tfc.authentication.service.csr={{TFC.net.atos.tfc.authentication.service.csr}}
net.atos.tfc.authentication.service.ldap.admin.dn={{TFC.net.atos.tfc.authentication.service.ldap.admin.dn}}
net.atos.tfc.authentication.service.ldap.admin.password={{TFC.net.atos.tfc.authentication.service.ldap.admin.password}}
net.atos.tfc.authentication.service.ldap.auth.type={{TFC.net.atos.tfc.authentication.service.ldap.auth.type}}
net.atos.tfc.authentication.service.ldap.base.user.dn={{TFC.net.atos.tfc.authentication.service.ldap.base.user.dn}}
net.atos.tfc.authentication.service.ldap.factory={{TFC.net.atos.tfc.authentication.service.ldap.factory}}
net.atos.tfc.authentication.service.ldap.server={{TFC.net.atos.tfc.authentication.service.ldap.server}}
net.atos.tfc.authentication.service.ldap.uid.attr={{TFC.net.atos.tfc.authentication.service.ldap.uid.attr}}

#HMRC
api.serviceurl={{TFC.api.serviceurl}}
api.setproxy={{TFC.api.setproxy}}
api.settotpproxy={{TFC.api.settotpproxy}}
api.totpproxyhost={{TFC.api.totpproxyhost}}
api.totpproxyport={{TFC.api.totpproxyport}}
api.totpproxyscheme=http
A_leadTime=0
hmrc.available={{TFC.hmrc.available}}
hmrc.digitally.excluded.eligibility={{TFC.hmrc.digitally.excluded.eligibility}}
hmrc.oauth.fault.redirect=false
hmrc.validate.mock=true
hmrc.validation.addline.maxlength=28
hmrc.validation.family.maxlength=40
hmrc.validation.family.minlength=2
hmrc.validation.given.maxlength=26
hmrc.validation.given.minlength=2
hmrc.validation.postcode.maxlength=10
hmrc.validation.regex.dob=\\\d{4}-\\\d{2}-\\\d{2}
hmrc.validation.regex.familyname=[A-Za-z&amp;.']*([ |-]){0,1}[A-Za-z&amp;'.]*
hmrc.validation.regex.givenname=[a-zA-Z-&amp;.]*
hmrc.validation.regex.name=^[a-zA-Z]
hmrc.validation.regex.nino=^[A-CEGHJ-PR-TW-Z]{1}[A-CEGHJ-NPR-TW-Z]{1}[0-9]{6}[A-DFM]{0,1}$
#hmrc.validation.regex.patternmatch=(?&lt;=\\\n)
M_leadTime=14
net.atos.tfc.hmrc.api10.allowed.processing.statuses={{TFC.net.atos.tfc.hmrc.api10.allowed.processing.statuses}}
net.atos.tfc.hmrc.api10.response.final.delay={{TFC.net.atos.tfc.hmrc.api10.response.final.delay}}
net.atos.tfc.hmrc.api10.response.redelivery.delay={{TFC.net.atos.tfc.hmrc.api10.response.redelivery.delay}}
net.atos.tfc.hmrc.api10.response.redelivery.max={{TFC.net.atos.tfc.hmrc.api10.response.redelivery.max}}
net.atos.tfc.hmrc.api10.simulator.threads={{TFC.net.atos.tfc.hmrc.api10.simulator.threads}}
net.atos.tfc.hmrc.api9.simulator.threads={{TFC.net.atos.tfc.hmrc.api9.simulator.threads}}
oauth.applicationheader={{TFC.oauth.applicationheader}}
oauth.authUrl={{TFC.oauth.authUrl}}
oauth.clientid={{TFC.oauth.clientid}}
oauth.clientsecret={{TFC.oauth.clientsecret}}
oauth.redirecturl={{TFC.oauth.redirecturl}}
oauth.refreshUrl={{TFC.oauth.refreshUrl}}
oauth.retrycount={{TFC.oauth.retrycount}}
oauth.tokenlocation={{TFC.oauth.tokenlocation}}
oauth.totpclientid={{TFC.oauth.totpclientid}}
oauth.totpclientsecret={{TFC.oauth.totpclientsecret}}
oauth.totpUrl={{TFC.oauth.totpUrl}}
regulator.mod={{TFC.regulator.mod}}

#Landing Pages
landing.page.placeholder.uri={{TFC.landing.page.placeholder.uri}}
landing.page.uri={{TFC.landing.page.uri}}

#Message Hub
hmrc.messagehub.endpoint={{TFC.hmrc.messagehub.endpoint}}
message.hub.simulator.API10replybuilder.eligenddate={{TFC.net.atos.tfc.message.hub.simulator.API10replybuilder.eligenddate}}
message.hub.simulator.API10replybuilder.eligstartdate={{TFC.net.atos.tfc.message.hub.simulator.API10replybuilder.eligstartdate}}
net.atos.tfc.message.hub.audit.endpoint={{TFC.net.atos.tfc.message.hub.audit.endpoint}}
net.atos.tfc.message.hub.blocking.queue={{TFC.net.atos.tfc.message.hub.blocking.queue}}
net.atos.tfc.message.hub.connection.password={{TFC.net.atos.tfc.message.hub.connection.password}}
net.atos.tfc.message.hub.connection.ssl.keystore.location={{TFC.net.atos.tfc.message.hub.connection.ssl.keystore.location}}
net.atos.tfc.message.hub.connection.ssl.keystore.password={{TFC.net.atos.tfc.message.hub.connection.ssl.keystore.password}}
net.atos.tfc.message.hub.connection.ssl.truststore.location={{TFC.net.atos.tfc.message.hub.connection.ssl.truststore.location}}
net.atos.tfc.message.hub.connection.ssl.truststore.password={{TFC.net.atos.tfc.message.hub.connection.ssl.truststore.password}}
net.atos.tfc.message.hub.connection.url={{TFC.net.atos.tfc.message.hub.connection.url}}
net.atos.tfc.message.hub.connection.user={{TFC.net.atos.tfc.message.hub.connection.user}}
net.atos.tfc.message.hub.eligibility.simulator.startup={{TFC.net.atos.tfc.message.hub.eligibility.simulator.startup}}
net.atos.tfc.message.hub.hmrc.eligibility.api10.dead.letter.queue={{TFC.net.atos.tfc.message.hub.hmrc.eligibility.api10.dead.letter.queue}}
net.atos.tfc.message.hub.hmrc.eligibility.request.queue={{TFC.net.atos.tfc.message.hub.hmrc.eligibility.request.queue}}
net.atos.tfc.message.hub.hmrc.eligibility.response.queue={{TFC.net.atos.tfc.message.hub.hmrc.eligibility.response.queue}}
net.atos.tfc.message.hub.hmrc.eligibility.secondary.response.queue={{TFC.net.atos.tfc.message.hub.hmrc.eligibility.secondary.response.queue}}
net.atos.tfc.message.hub.hmrc.eligibility.simulator.concurrent.consumers={{TFC.net.atos.tfc.message.hub.hmrc.eligibility.simulator.concurrent.consumers}}
net.atos.tfc.message.hub.hmrc.matching.request.queue={{TFC.net.atos.tfc.message.hub.hmrc.matching.request.queue}}
net.atos.tfc.message.hub.hmrc.matching.response.queue={{TFC.net.atos.tfc.message.hub.hmrc.matching.response.queue}}
net.atos.tfc.message.hub.hmrc.simulation.eligibility.request.queue={{TFC.net.atos.tfc.message.hub.hmrc.simulation.eligibility.request.queue}}
net.atos.tfc.message.hub.hmrc.simulation.eligibility.response.queue={{TFC.net.atos.tfc.message.hub.hmrc.simulation.eligibility.response.queue}}
net.atos.tfc.message.hub.hmrc.simulation.matching.request.queue={{TFC.net.atos.tfc.message.hub.hmrc.simulation.matching.request.queue}}
net.atos.tfc.message.hub.hmrc.simulation.matching.response.queue={{TFC.net.atos.tfc.message.hub.hmrc.simulation.matching.response.queue}}
net.atos.tfc.message.hub.isis.endpoint={{TFC.net.atos.tfc.message.hub.isis.endpoint}}
net.atos.tfc.message.hub.matching.deadletter.queue={{TFC.net.atos.tfc.message.hub.matching.deadletter.queue}}
net.atos.tfc.message.hub.matching.simulator.startup={{TFC.net.atos.tfc.message.hub.matching.simulator.startup}}
net.atos.tfc.message.hub.secure.message.external.retry.attempts={{TFC.net.atos.tfc.message.hub.secure.message.external.retry.attempts}}
net.atos.tfc.message.hub.secure.message.external.retry.delay={{TFC.net.atos.tfc.message.hub.secure.message.external.retry.delay}}
net.atos.tfc.message.hub.secure.message.internal.queue={{TFC.net.atos.tfc.message.hub.secure.message.internal.queue}}
net.atos.tfc.message.hub.synchronous.reply.destination.capacity={{TFC.net.atos.tfc.message.hub.synchronous.reply.destination.capacity}}
net.atos.tfc.message.hub.synchronous.reply.timeout={{TFC.net.atos.tfc.message.hub.synchronous.reply.timeout}}
net.atos.tfc.message.hub.temp.eligibility.bearer-token={{TFC.net.atos.tfc.message.hub.temp.eligibility.bearer-token}}
net.atos.tfc.message.hub.temp.matching.bearer-token={{TFC.net.atos.tfc.message.hub.temp.matching.bearer-token}}
primarycontactactivation.maxretries={{TFC.primarycontactactivation.maxretries}}
net.atos.tfc.message.hub.ISIS.Request.permanent.failure.queue={{TFC.net.atos.tfc.message.hub.ISIS.Request.permanent.failure.queue}}
net.atos.tfc.message.hub.ISIS.Request.permanent.failure.redelivery.max={{TFC.net.atos.tfc.message.hub.ISIS.Request.permanent.failure.redelivery.max}}
net.atos.tfc.message.hub.ISIS.Request.permanent.failure.redelivery.delay={{TFC.net.atos.tfc.message.hub.ISIS.Request.permanent.failure.redelivery.delay}}
net.atos.tfc.message.hub.ISIS.Request.version={{TFC.net.atos.tfc.message.hub.ISIS.Request.version}}



#Rest Service Urls
ccpaccount.restservice.url={{TFC.ccpaccount.restservice.url}}
ccpchecker.restservice.url={{TFC.ccpchecker.restservice.url}}
ccpparent.restservice.url={{TFC.ccpparent.restservice.url}}
ccpsignup.restservice.url={{TFC.ccpsignup.restservice.url}}
cic.restservice.url={{TFC.cic.restservice.url}}
cicccpaccount.restservice.url={{TFC.cicccpaccount.restservice.url}}
cicsearch.maxresults={{TFC.cicsearch.maxresults}}
paracc.restservice.url={{TFC.paracc.restservice.url}}
paracccic.restservice.url={{TFC.paracccic.restservice.url}}
parapp.restservice.url={{TFC.parapp.restservice.url}}
parappcic.restservice.url={{TFC.parappcic.restservice.url}}
parcic.restservice.url={{TFC.parcic.restservice.url}}
sicommon.restservice.url={{TFC.sicommon.restservice.url}}

#Rollout
par.app.currentActiveRolloutAge={{TFC.par.app.currentActiveRolloutAge}}
par.app.isDisabledRuleActive={{TFC.par.app.isDisabledRuleActive}}
par.app.rollOut.childDobValidation.maxAge={{TFC.par.app.rollOut.childDobValidation.maxAge}}
par.app.rollOut.isAgeBaseRuleActive={{TFC.par.app.rollOut.isAgeBaseRuleActive}}
par.app.rollOut.isCountryOfBirthRuleActive={{TFC.par.app.rollOut.isCountryOfBirthRuleActive}}
par.app.rollOut.isEFEOnlyRuleActive={{TFC.par.app.rollOut.isEFEOnlyRuleActive}}
par.app.rollOut.RollOutEFEChildAge.EndDate={{TFC.par.app.rollOut.RollOutEFEChildAge.EndDate}}
par.app.rollOut.RollOutEFEChildAge.StartDate={{TFC.par.app.rollOut.RollOutEFEChildAge.StartDate}}
par.app.rollout={{TFC.par.app.rollout}}
par.app.traildetailsentry={{TFC.par.app.traildetailsentry}}
par.app.oneYearRollout={{TFC.par.app.oneYearRollout}}
par.app.twoYearRollout={{TFC.par.app.twoYearRollout}}
par.app.threeYearRollout={{TFC.par.app.threeYearRollout}}
par.app.fourYearRollout={{TFC.par.app.fourYearRollout}}
par.app.fiveYearRollout={{TFC.par.app.fiveYearRollout}}
par.app.sixYearRollout={{TFC.par.app.sixYearRollout}}
par.app.sevenYearRollout={{TFC.par.app.sevenYearRollout}}
par.app.eightYearRollout={{TFC.par.app.eightYearRollout}}
par.app.nineYearRollout={{TFC.par.app.nineYearRollout}}
par.app.tenYearRollout={{TFC.par.app.tenYearRollout}}
par.app.elevenYearRollout={{TFC.par.app.elevenYearRollout}}
par.app.twelveYearRollout={{TFC.par.app.twelveYearRollout}}

#RSA
rsa.challenge.threshold={{TFC.rsa.challenge.threshold}}
rsa.challenge.warning.url={{TFC.rsa.challenge.warning.url}}
rsa.max.attempts={{TFC.rsa.max.attempts}}
rsa.services.credentials.password={{TFC.rsa.services.credentials.password}}
rsa.services.credentials.user={{TFC.rsa.services.credentials.user}}
rsa.services.endpoint.url={{TFC.rsa.services.endpoint.url}}
rsa.set.proxy={{TFC.rsa.set.proxy}}
rsa.stepup.challenge.url={{TFC.rsa.stepup.challenge.url}}
rsa.telephone.challenge.url={{TFC.rsa.telephone.challenge.url}}
rsa.telephone.threshold={{TFC.rsa.telephone.threshold}}
rsa.org.name.ccp={{TFC.rsa.org.name.ccp}}
rsa.org.name.parent={{TFC.rsa.org.name.parent}}
rsa.cache.nodelete={{TFC.rsa.cache.nodelete}}

#Thaler
thaler.externalapplication={{TFC.thaler.externalapplication}}
thaler.externalreferenceprefix={{TFC.thaler.externalreferenceprefix}}
thaler.password={{TFC.thaler.password}}
thaler.url={{TFC.thaler.url}}
thaler.username={{TFC.thaler.username}}

#VRD
vrd.available={{TFC.vrd.available}}
vrd.password={{TFC.vrd.password}}
vrd.product={{TFC.vrd.product}}
vrd.url={{TFC.vrd.url}}
vrd.username={{TFC.vrd.username}}

#Worldline
proxy.host={{TFC.proxy.host}}
proxy.port={{TFC.proxy.port}}
wl.paymentint.url={{TFC.wl.paymentint.url}}
wlpayment.automaticresponse.url={{TFC.wlpayment.automaticresponse.url}}
wlpayment.currency.code={{TFC.wlpayment.currency.code}}
wlpayment.interface.version={{TFC.wlpayment.interface.version}}
wlpayment.key.version={{TFC.wlpayment.key.version}}
wlpayment.merchant.id={{TFC.wlpayment.merchant.id}}
wlpayment.normalreturn.cic.url={{TFC.wlpayment.normalreturn.cic.url}}
wlpayment.normalreturn.url={{TFC.wlpayment.normalreturn.url}}
wlpayment.order.channel={{TFC.wlpayment.order.channel}}
wlpayment.proxy={{TFC.wlpayment.proxy}}
wlpayment.seal.key={{TFC.wlpayment.seal.key}}

#Non Environment Specific
rsa.allowed.pages=/par/acc/buildplannedoutage,/par/acc/maintenanceon,/par/acc/passwordentryfailure,/par/acc/passwordentryrsa,/par/acc/passwordentrywarning,/par/acc/resetpassword,/par/acc/resetpasswordsuccess,/par/acc/rsaphonenumbers,/par/acc/rsaphonedisplay,/par/acc/rsaquestionswarning,/par/acc/stepupchallenge,/par/acc/rsaquestionsfailure,/parlogin,/par/app/tfcentrypoint
postcode.pattern=^((GIR)(0AA)|([A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]|[A-HK-Y][0-9]([0-9]|[ABEHMNPRV-Y]))|[0-9][A-HJKS-UW]))([0-9][ABD-HJLNP-UW-Z]{2})|(([A-Z]{1,4})(1ZZ))|((BFPO)([0-9]{1,4})))$
email.pattern=^(?=.{0,56}$).(\\\"([^\\\"r\\\\\\\\]|\\\\\\\\[\\\"r\\\\\\\\])*\\\"|([-a-zA-Z0-9!#$%&'*+/=?^_`{|}~]|(?<!\\.)\\.)*)(?<!\\.)@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,3})$
