#*************** Database Configuration************
TFC.DB.OracleHost={{TFC.DB.OracleHost}}
TFC.DB.OracleUsername={{TFC.DB.OracleUsername}}
TFC.DB.OraclePassword={{TFC.DB.OraclePassword}}
TFC.DB.DriverType={{TFC.DB.DriverType}}
webservice.ipandport={{TFC.DB.WebServiceIPAndPort}}
TFC.Website.Session.Timeout={{TFC.Website.Session.Timeout}}

#********* Email and Postcode REGEX Patterns **************
postcode.pattern={{TFC.postcode.pattern}}
email.pattern={{TFC.email.pattern}}
psswrd.pattern={{TFC.psswrd.pattern}}

#**********BankValidationServices Configuration***********
postcodeanywhere.key={{TFC.PostCodeAnywhereKey}}
postcodeanywhere.url{{TFC.PostCodeAnywhereURL}}

#*************** HMRCServices Configuration************

hmrc.incomingq.brokerurl={{TFC.HMRC.IQ.Broker.URL}}
hmrc.incomingq.username={{TFC.HMRC.IQ.Broker.Username}}
hmrc.incomingq.password={{TFC.HMRC.IQ.Broker.Password}}

#*************** Thaler Config ************************
#**URLs**
thaler.url={{TFC.Thaler.URL}}

#*************** RSA Services Config ************************
rsa.organisation.id={{TFC.RSA.OrganisationId}}
rsa.organisation.pwd={{TFC.RSA.OrganisationPWD}}
rsa.url={{TFC.RSA.URL}}

#*************** CCPSignupIntegrationService ***********
ccpsignup.restservice.url={{TFC.CCPSignup.RestService.URL}}

#*************** CCPAccountIntegrationService ***********
ccpaccount.restservice.url={{TFC.CCPAccount.RestService.URL}}


#*************** AMQ Config ********************
amq.brokerurl={{TFC.AMQ.Broker.URL}}
amq.password={{TFC.AMQ.Password}}
amq=username={{TFC.AMQ.Username}}

#*************** CCP Activation Config ********************
ccpactivation.amq.queuename={{TFC.ccpactivation.amq.queuename}}

#*************** JOB SCHEDULES ********************
 job.cleansession.cron={{TFC.job.cleansession.cron}}
 job.declinedutrninoletter.cron={{TFC.job.declinedutrninoletter.cron}}
 job.activateccp.cron={{TFC.job.activateccp.cron}}



