# TFC Service Layer application configuration
#*************** Database Configuration************
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.OracleHost={{TFC.DB.OracleHost}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.OracleUsername={{TFC.DB.OracleUsername}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.OraclePassword={{TFC.DB.OraclePassword}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Pool.MinSize={{TFC.DB.Pool.MinSize}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Pool.MaxSize={{TFC.DB.Pool.MaxSize}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Pool.AllConnectionsEquals={{TFC.DB.Pool.AllConnectionsEquals}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Pool.ConnectionMaxIdleMinutes={{TFC.DB.Pool.ConnectionMaxIdleMinutes}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Pool.PartitionStrategy={{TFC.DB.Pool.PartitionStrategy}}" {{TFC.profile}}
#*** Audit Connection ***
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Audit.OracleUsername={{TFC.DB.Audit.OracleUsername}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Audit.OraclePassword={{TFC.DB.Audit.OraclePassword}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Audit.Pool.MinSize={{TFC.DB.Audit.Pool.MinSize}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Audit.Pool.MaxSize={{TFC.DB.Audit.Pool.MaxSize}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Audit.Pool.AllConnectionsEquals={{TFC.DB.Audit.Pool.AllConnectionsEquals}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Audit.Pool.ConnectionMaxIdleMinutes={{TFC.DB.Audit.Pool.ConnectionMaxIdleMinutes}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.Audit.Pool.PartitionStrategy={{TFC.DB.Audit.Pool.PartitionStrategy}}" {{TFC.profile}}
#*** Parent Application Connection ***
fabric:profile-edit -p servicesPID/"TFC.DB.ParentApplication.OracleUsername={{TFC.DB.ParentApplication.OracleUsername}}" {{TFC.profile}}
fabric:profile-edit -p servicesPID/"TFC.DB.ParentApplication.OraclePassword={{TFC.DB.ParentApplication.OraclePassword}}" {{TFC.profile}}
fabric:profile-edit -p servicesPID/"TFC.DB.ParentApplication.Pool.MinSize={{TFC.DB.ParentApplication.Pool.MinSize}}" {{TFC.profile}}
fabric:profile-edit -p servicesPID/"TFC.DB.ParentApplication.Pool.MaxSize={{TFC.DB.ParentApplication.Pool.MaxSize}}" {{TFC.profile}}
fabric:profile-edit -p servicesPID/"TFC.DB.ParentApplication.Pool.AllConnectionsEquals={{TFC.DB.ParentApplication.Pool.AllConnectionsEquals}}" {{TFC.profile}}
fabric:profile-edit -p servicesPID/"TFC.DB.ParentApplication.Pool.ConnectionMaxIdleMinutes={{TFC.DB.ParentApplication.Pool.ConnectionMaxIdleMinutes}}" {{TFC.profile}}
fabric:profile-edit -p servicesPID/"TFC.DB.ParentApplication.Pool.PartitionStrategy={{TFC.DB.ParentApplication.Pool.PartitionStrategy}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.DB.DriverType={{TFC.DB.DriverType}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"webservice.ipandport={{TFC.DB.webservice.ipandport}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"TFC.Website.Session.Timeout={{TFC.Website.Session.Timeout}}" {{TFC.profile}}
#********* Email and Postcode REGEX Patterns **************
fabric:profile-edit -p {{TFC.PID}}/"postcode.pattern=^((GIR)(0AA)|([A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]|[A-HK-Y][0-9]([0-9]|[ABEHMNPRV-Y]))|[0-9][A-HJKS-UW]))([0-9][ABD-HJLNP-UW-Z]{2})|(([A-Z]{1,4})(1ZZ))|((BFPO)([0-9]{1,4})))$" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"email.pattern=^(?=.{0,56}$).(\\\"([^\\\"r\\\\\\\\]|\\\\\\\\[\\\"r\\\\\\\\])*\\\"|([-a-zA-Z0-9!#$%&'*+/=?^_`{|}~]|(?<!\\.)\\.)*)(?<!\\.)@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,3})$" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"psswrd.pattern={{TFC.psswrd.pattern}}" {{TFC.profile}}
#**********BankValidationServices Configuration***********
fabric:profile-edit -p {{TFC.PID}}/"postcodeanywhere.key={{TFC.postcodeanywhere.key}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"postcodeanywhere.url={{TFC.postcodeanywhere.url}}" {{TFC.profile}}

#*************** HMRCServices Configuration************

fabric:profile-edit -p {{TFC.PID}}/"hmrc.incomingq.brokerurl={{TFC.hmrc.incomingq.brokerurl}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"hmrc.incomingq.username={{TFC.hmrc.incomingq.username}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"hmrc.incomingq.password={{TFC.hmrc.incomingq.password}}" {{TFC.profile}}

#*************** Thaler Config ************************
#**URLs**
fabric:profile-edit -p {{TFC.PID}}/"thaler.url={{TFC.thaler.url}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"thaler.externalapplication={{TFC.thaler.externalapplication}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"thaler.externalreferenceprefix={{TFC.thaler.externalreferenceprefix}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"thaler.password={{TFC.thaler.password}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"thaler.username={{TFC.thaler.username}}" {{TFC.profile}}
#*************** RSA Services Config ************************
fabric:profile-edit -p {{TFC.PID}}/"rsa.organisation.id={{TFC.rsa.organisation.id}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.organisation.pwd={{TFC.rsa.organisation.pwd}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.url={{TFC.rsa.url}}" {{TFC.profile}}

#*************** ParentAccountIntegrationService ***********
fabric:profile-edit -p {{TFC.PID}}/"paracc.restservice.url={{TFC.paracc.restservice.url}}" {{TFC.profile}}

#*************** CCPSignupIntegrationService ***********
fabric:profile-edit -p {{TFC.PID}}/"ccpparent.restservice.url={{TFC.ccpparent.restservice.url}}" {{TFC.profile}}

#*************** CCPSignupIntegrationService ***********
fabric:profile-edit -p {{TFC.PID}}/"ccpsignup.restservice.url={{TFC.ccpsignup.restservice.url}}" {{TFC.profile}}

#*************** CCPAccountIntegrationService ***********
fabric:profile-edit -p {{TFC.PID}}/"ccpaccount.restservice.url={{TFC.ccpaccount.restservice.url}}" {{TFC.profile}}

fabric:profile-edit -p {{TFC.PID}}/"parapp.restservice.url={{TFC.parapp.restservice.url}}" {{TFC.profile}}
#*************** CIC Services ***********
fabric:profile-edit -p {{TFC.PID}}/"cicsearch.maxresults={{TFC.cicsearch.maxresults}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"cic.restservice.url={{TFC.cic.restservice.url}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"cicccpaccount.restservice.url={{TFC.cicccpaccount.restservice.url}}" {{TFC.profile}}

#*************** AMQ Config ********************
fabric:profile-edit -p {{TFC.PID}}/"amq.brokerurl={{TFC.amq.brokerurl}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"amq.pword={{TFC.amq.pword}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"amq.username={{TFC.amq.username}}" {{TFC.profile}}

#*************** CCP Activation Config ********************
fabric:profile-edit -p {{TFC.PID}}/"ccpactivation.amq.queuename={{TFC.ccpactivation.amq.queuename}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"ccpactivationdeclined.amq.queuename={{TFC.ccpactivationdeclined.amq.queuename}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"ccpactivationfailed.amq.queuename={{TFC.ccpactivationfailed.amq.queuename}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"utrninocleanup.amq.queuename={{TFC.utrninocleanup.amq.queuename}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"newprimarycontactactivation.amq.queuename={{TFC.newprimarycontactactivation.amq.queuename}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"newprimarycontactactivationfailed.amq.queuename={{TFC.newprimarycontactactivationfailed.amq.queuename}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"ccpactivation.retry.limit={{TFC.ccpactivation.retry.limit}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"ccpactivation.retry.delay={{TFC.ccpactivation.retry.delay}}" {{TFC.profile}}
#*************** JOB SCHEDULES ********************
fabric:profile-edit -p {{TFC.PID}}/"job.cleansession.cron={{TFC.job.cleansession.cron}}" {{TFC.profile}}
#*************** ERROR MESSAGES FILE ********************
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.services.common.exceptions.file={{TFC.exceptions.json.file}}" {{TFC.profile}}

#*************** CSR AUTH SERVICE TYPE PROPERTY VALS = LDAP or IN_MEMORY********************
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.authentication.service.csr={{TFC.net.atos.tfc.authentication.service.csr}}" {{TFC.profile}}

#*************** LDAP Config ********************
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.authentication.service.ldap.factory={{TFC.net.atos.tfc.authentication.service.ldap.factory}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.authentication.service.ldap.auth.type={{TFC.net.atos.tfc.authentication.service.ldap.auth.type}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.authentication.service.ldap.base.user.dn={{TFC.net.atos.tfc.authentication.service.ldap.base.user.dn}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.authentication.service.ldap.uid.attr={{TFC.net.atos.tfc.authentication.service.ldap.uid.attr}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.authentication.service.ldap.admin.dn={{TFC.net.atos.tfc.authentication.service.ldap.admin.dn}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.authentication.service.ldap.admin.password={{TFC.net.atos.tfc.authentication.service.ldap.admin.password}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.authentication.service.ldap.server={{TFC.net.atos.tfc.authentication.service.ldap.server}}" {{TFC.profile}}

#*********** AUDITING Framework client QUEUE ******************
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.brokerurl={{TFC.audit.amq.brokerurl}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.username={{TFC.audit.amq.username}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.password={{TFC.audit.amq.password}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.audit-auth={{TFC.audit.amq.audit-auth}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.audit-pag-nav={{TFC.audit.amq.audit-pag-nav}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.audit-txn={{TFC.audit.amq.audit-txn}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.audit-account-txn={{TFC.audit.amq.audit-account-txn}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.audit-auth.error={{TFC.audit.amq.audit-auth.error}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.audit-pag-nav.error={{TFC.audit.amq.audit-pag-nav.error}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.audit-txn.error={{TFC.audit.amq.audit-txn.error}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"audit.amq.audit-account-txn.error={{TFC.audit.amq.audit-account-txn.error}}" {{TFC.profile}}

#*********** RSA Settings ******************
fabric:profile-edit -p {{TFC.PID}}/"rsa.set.proxy={{TFC.rsa.set.proxy}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.challenge.threshold={{TFC.rsa.challenge.threshold}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.services.endpoint.url={{TFC.rsa.services.endpoint.url}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.telephone.challenge.url={{TFC.rsa.telephone.challenge.url}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.stepup.challenge.url={{TFC.rsa.stepup.challenge.url}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.challenge.warning.url={{TFC.rsa.challenge.warning.url}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.max.attempts={{TFC.rsa.max.attempts}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.services.credentials.user={{TFC.rsa.services.credentials.user}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"rsa.services.credentials.password={{TFC.rsa.services.credentials.password}}" {{TFC.profile}}

#*********** Message Hub Config********************************
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.synchronous.reply.timeout={{TFC.net.atos.tfc.message.hub.synchronous.reply.timeout}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.synchronous.reply.destination.capacity={{TFC.net.atos.tfc.message.hub.synchronous.reply.destination.capacity}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.hmrc.matching.request.queue={{TFC.net.atos.tfc.message.hub.hmrc.matching.request.queue}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.hmrc.matching.response.queue={{TFC.net.atos.tfc.message.hub.hmrc.matching.response.queue}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.matching.deadletter.queue={{TFC.net.atos.tfc.message.hub.matching.deadletter.queue}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.connection.ssl.truststore.location={{TFC.net.atos.tfc.message.hub.connection.ssl.truststore.location}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.connection.ssl.truststore.password={{TFC.net.atos.tfc.message.hub.connection.ssl.truststore.password}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.connection.ssl.keystore.location={{TFC.net.atos.tfc.message.hub.connection.ssl.keystore.location}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.connection.ssl.keystore.password={{TFC.net.atos.tfc.message.hub.connection.ssl.keystore.password}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.connection.url={{TFC.net.atos.tfc.message.hub.connection.url}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.connection.user={{TFC.net.atos.tfc.message.hub.connection.user}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"net.atos.tfc.message.hub.connection.password={{TFC.net.atos.tfc.message.hub.connection.password}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"hmrc.messagehub.endpoint={{TFC.hmrc.messagehub.endpoint}}" {{TFC.profile}}

#************ COMMON SERVICES*************
fabric:profile-edit -p {{TFC.PID}}/"sicommon.restservice.url={{TFC.sicommon.restservice.url}}" {{TFC.profile}}

#************ FEEDBACK *******************
fabric:profile-edit -p {{TFC.PID}}/"feedback.incomingq.brokerurl={{TFC.feedback.incomingq.brokerurl}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"feedback.incomingq.usernamel={{TFC.feedback.incomingq.username}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"feedback.incomingq.password={{TFC.feedback.incomingq.password}}" {{TFC.profile}}
fabric:profile-edit -p {{TFC.PID}}/"feedback.incomingq.url={{TFC.feedback.incomingq.url}}" {{TFC.profile}}

#*********** MISCELLANIOUS ******************
fabric:profile-edit -p {{TFC.PID}}/"regulator.mod={{TFC.regulator.mod}}" {{TFC.profile}}
