# TFC Service Layer application configuration
#*************** Database Configuration************
TFC.DB.OracleHost={{TFC.DB.OracleHost}}
TFC.DB.OracleUsername={{TFC.DB.OracleUsername}}
TFC.DB.OraclePassword={{TFC.DB.OraclePassword}}
TFC.DB.Audit.OracleUsername={{TFC.DB.Audit.OracleUsername}}
TFC.DB.Audit.OraclePassword={{TFC.DB.Audit.OraclePassword}}
TFC.DB.DriverType={{TFC.DB.DriverType}}
webservice.ipandport={{TFC.DB.webservice.ipandport}}
TFC.Website.Session.Timeout={{TFC.Website.Session.Timeout}}

#********* Email and Postcode REGEX Patterns **************
postcode.pattern=^((GIR)(0AA)|([A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]|[A-HK-Y][0-9]([0-9]|[ABEHMNPRV-Y]))|[0-9][A-HJKS-UW]))([0-9][ABD-HJLNP-UW-Z]{2})|(([A-Z]{1,4})(1ZZ))|((BFPO)([0-9]{1,4})))$
email.pattern=^(?=.{0,56}$).(\"([^\"r\\\\]|\\\\[\"r\\\\])*\"|([-a-zA-Z0-9!#$%&'*+/=?^_`{|}~]|(?<!\\.)\\.)*)(?<!\\.)@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,3})$
psswrd.pattern={{TFC.psswrd.pattern}}

#**********BankValidationServices Configuration***********
postcodeanywhere.key={{TFC.postcodeanywhere.key}}
postcodeanywhere.url={{TFC.postcodeanywhere.url}}

#*************** HMRCServices Configuration************

hmrc.incomingq.brokerurl={{TFC.hmrc.incomingq.brokerurl}}
hmrc.incomingq.username={{TFC.hmrc.incomingq.username}}
hmrc.incomingq.password={{TFC.hmrc.incomingq.password}}

#*************** Thaler Config ************************
#**URLs**
thaler.url={{TFC.thaler.url}}
thaler.externalapplication={{TFC.thaler.externalapplication}}
thaler.externalreferenceprefix={{TFC.thaler.externalreferenceprefix}}
thaler.password={{TFC.thaler.password}}
thaler.username={{TFC.thaler.username}}
#*************** RSA Services Config ************************
rsa.organisation.id={{TFC.rsa.organisation.id}}
rsa.organisation.pwd={{TFC.rsa.organisation.pwd}}
rsa.url={{TFC.rsa.url}}

#*************** CCPSignupIntegrationService ***********
ccpsignup.restservice.url={{TFC.ccpsignup.restservice.url}}

#*************** CCPAccountIntegrationService ***********
ccpaccount.restservice.url={{TFC.ccpaccount.restservice.url}}

#*************** CIC Services ***********
cicsearch.maxresults={{TFC.cicsearch.maxresults}}
cic.restservice.url={{TFC.cic.restservice.url}}
cicccpaccount.restservice.url={{TFC.cicccpaccount.restservice.url}}

#*************** AMQ Config ********************
amq.brokerurl={{TFC.amq.brokerurl}}
amq.pword={{TFC.amq.pword}}
amq.username={{TFC.amq.username}}

#*********************************************************
primarycontactactivation.maxretries = {{TFC.primarycontactactivation.maxretries}}
#*************** CCP Activation Config ********************
ccpactivation.amq.queuename={{TFC.ccpactivation.amq.queuename}}

#*************** JOB SCHEDULES ********************

#*************** ERROR MESSAGES FILE ********************
net.atos.tfc.services.common.exceptions.file={{TFC.exceptions.json.file}}

net.atos.tfc.authentication.service.csr={{TFC.net.atos.tfc.authentication.service.csr}}
net.atos.tfc.authentication.service.ldap.factory={{TFC.net.atos.tfc.authentication.service.ldap.factory}}
net.atos.tfc.authentication.service.ldap.auth.type={{TFC.net.atos.tfc.authentication.service.ldap.auth.type}}
net.atos.tfc.authentication.service.ldap.base.user.dn={{TFC.net.atos.tfc.authentication.service.ldap.base.user.dn}}
net.atos.tfc.authentication.service.ldap.uid.attr={{TFC.net.atos.tfc.authentication.service.ldap.uid.attr}}
net.atos.tfc.authentication.service.ldap.admin.dn={{TFC.net.atos.tfc.authentication.service.ldap.admin.dn}}
net.atos.tfc.authentication.service.ldap.admin.password={{TFC.net.atos.tfc.authentication.service.ldap.admin.password}}
net.atos.tfc.authentication.service.ldap.server={{TFC.net.atos.tfc.authentication.service.ldap.server}}

#*********** AUDITING Framework client QUEUE ******************
audit.amq.brokerurl={{TFC.audit.amq.brokerurl}}
audit.amq.username={{TFC.audit.amq.username}}
audit.amq.password={{TFC.audit.amq.password}}
audit.amq.audit-auth={{TFC.audit.amq.audit-auth}}
audit.amq.audit-pag-nav={{TFC.audit.amq.audit-pag-nav}}
audit.amq.audit-txn={{TFC.audit.amq.audit-txn}}
audit.amq.audit-account-txn={{TFC.audit.amq.audit-account-txn}}
audit.amq.audit-auth.error={{TFC.audit.amq.audit-auth.error}}
audit.amq.audit-pag-nav.error={{TFC.audit.amq.audit-pag-nav.error}}
audit.amq.audit-txn.error={{TFC.audit.amq.audit-txn.error}}
audit.amq.audit-account-txn.error={{TFC.audit.amq.audit-account-txn.error}}


